/* VARIABLES */
$backgroundColor: #9bbbd4;
$liColor: #fef01b;
body {
  font-family: 'Montserrat', sans-serif;
}
button {
  background-color: #556677;
  color: #fff;
  cursor: pointer;
  &:hover {
    background-color: #fff;
    color: #556677;
  }
}
select {
  height: 25px;
  border: none;
  border-radius: 3px;
}
.inner {
  width: 1200px;
  margin: 0 auto;
}
header {
  height: 120px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $backgroundColor;

  .logo {
    margin: 10px 0 0 30px;
  }
  .header-title {
    margin-left: 30px;
    font-size: 40px;
    color: white;
  }
  .material-symbols-outlined {
    margin-left: 100px;
    text-decoration: none;
    width: 50px;
    height: 50px;
    font-size: 45px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      border: 2px solid #fff;
      border-radius: 5px;
      box-sizing: border-box;
    }
  }
}
main {
  .inner {
    .input-container {
      display: flex;
      justify-content: center;
      align-items: center;
      .form {
        padding: 5px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
          rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        width: 420px;
        height: 250px;
        margin-top: 30px;
        border: none;
        border-radius: 3px;
        background-color: $backgroundColor;
        .form-title {
          font-size: 30px;
          font-weight: bold;
          color: #fff;
          text-align: center;
          margin-bottom: 30px;
        }
        .input {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          input {
            width: 350px;
            height: 40px;
            padding-left: 5px;
            margin: 20px auto;
            display: block;
            font-size: 18px;
            border-radius: 3px;
          }
          .importance-btn1 {
            height: 30px;
            margin: 3px;
            border: none;
            border-radius: 3px;
            font-size: 14px;
            font-weight: normal;
            &.selected {
              background-color: #fff;
              color: #556677;
            }
          }
          .importance-btn2 {
            height: 30px;
            margin: 3px;
            border: none;
            border-radius: 3px;
            font-size: 14px;
            font-weight: normal;
            &.selected {
              background-color: #fff;
              color: #556677;
            }
          }
          .importance-btn3 {
            height: 30px;
            margin: 3px;
            border: none;
            border-radius: 3px;
            font-size: 14px;
            font-weight: normal;
            &.selected {
              background-color: #fff;
              color: #556677;
            }
          }
          .importance-btn4 {
            height: 30px;
            margin: 3px;
            border: none;
            border-radius: 3px;
            font-size: 14px;
            font-weight: normal;
            &.selected {
              background-color: #fff;
              color: #556677;
            }
          }
        }
        .add-btn {
          width: 80px;
          height: 30px;
          display: block;
          border: none;
          border-radius: 30px;
          margin: 10px auto;
          font-size: 18px;
          font-weight: 700;
          cursor: pointer;
        }
      }
    }
    .content-container {
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
      position: relative;
      width: 420px;
      margin: 30px auto;
      border-radius: 5px;
      background-color: $backgroundColor;

      .spinner-border {
        width: 5rem;
        height: 5rem;
        display: block;
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        margin: 0 auto;
        &.hide {
          display: none;
        }
      }

      .content-title {
        padding: 10px;
        text-align: center;
        font-size: 45px;
        color: #fff;
      }
      select {
        margin-left: 20px;
      }
      .delete-all {
        margin-left: 150px;
        border: none;
        border-radius: 5px;
        height: 25px;
      }
      .done-list {
        width: 200px;
        margin: 20px auto;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
      }
      .content-list {
        margin: 10px;

        ul {
          padding: 5px;
          li {
            margin: 10px;
            padding: 10px;
            background-color: $liColor;
            border: 1px solid;
            border-radius: 5px;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            input {
              width: 25px;
              height: 25px;
              flex-grow: 1;
            }
            .todo-content {
              width: 320px;
              padding: 10px;
              // flex-grow: 1;
              white-space: none;
              border: none; /* 3px solid #fff; */
              border-radius: 3px;
              width: 150px;
              &.checked {
                text-decoration: line-through;
              }
            }
          }
          div {
            margin-right: 10px;
            border: 2px solid #556677;
            border-radius: 5px;
            padding: 5px;
          }
          button {
            width: 45px;
            height: 30px;
            margin: 5px;
            border: none;
            border-radius: 5px;
          }
        }
        .modal {
          display: none;
        }
        .modal-container {
          display: block;
          width: 400px;
          height: 250px;
          border: 1px solid;
          position: absolute;
          background-color: #fff;
          top: 50px;
          left: 0;
          right: 0;
          z-index: 99;
          text-align: center;
          div {
            font-size: 35px;
            margin: 10px;
          }
          input {
            width: 320px;
            height: 30px;
            padding-left: 10px;
          }
          button {
            margin: 10px;
            width: 60px;
            height: 30px;
            border-radius: 5px;
            border: none;
            font-weight: bold;
          }
        }
      }
    }
  }
}
